<!DOCTYPE HTML>

<html>
	<head>
		<title>Rahul Sonti Website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="static/images/avatar.jpg" alt="" /></span>
							<h1 id="title">Rahul Sonti</h1>
							<p>Data Scientist | Analyst</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="#top" id="top-link"><span class="icon solid fa-home">Introduction</span></a></li>
								<li><a href="#portfolio" id="portfolio-link"><span class="icon solid fa-th">My Projects</span></a></li>
								<li><a href="#about" id="about-link"><span class="icon solid fa-user">About Me</span></a></li>
								<li><a href="#contact" id="contact-link"><span class="icon solid fa-envelope">Contact</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="https://github.com/rahulsonti/" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="https://linkedin.com/in/rahulsonti/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="https://www.instagram.com/rahul_datguitarguy/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://www.facebook.com/rahulsonti" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href = "mailto: rahul.sonti1997@outlook.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div>

			</div>

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">Hi! I'm <strong>Rahul Sonti</strong><br />
								Welcome to my space!</h2>
								<p><strong>I am a Data Analyst/Scientist | ML Engineer,<br />
								a small-time Web and Software Developer, and a Musician</strong></p>
							</header>

							<footer>
								<a href="#portfolio" class="button scrolly">Know me!</a>
							</footer>

						</div>
					</section>

				<!-- Portfolio -->
					<section id="portfolio" class="two">
						<div class="container">

							<header>
								<h2>My Projects</h2>
							</header>

							<p>My Projects vary from Machine-Learning models to</b>
							 Natural Language Processing. My latest project</b>
							 is this Portfolio-website you are rolling your eyes through,</b>
							 which I developed using Flask-microframework, Python, HTML, and SQL.</b>
							 Check out my other work below!</b> 
						     </p>

							<div class="row">
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="https://github.com/rahulsonti/NFL_Yards_Thrown_Predictions_ANN" class="image fit"><img src="static/images/pic02.jpg" alt="" /></a>
										<header>
											<h3>1. NFL Yards thrown </b> Prediction</b>
											using ML-models</h3>
										</header>
									</article>
									<article class="item">
										<a href="https://github.com/rahulsonti/InsuranceCharges_Prediction" class="image fit"><img src="static/images/pic03.jpg" alt="" /></a>
										<header>
											<h3>2. Insurance Charges prediction</b>
											using Random-Forest regression</b>in R</h3>
										</header>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="https://github.com/rahulsonti/Social-Media-Disinformation-Network-BERT" class="image fit"><img src="static/images/pic04.jpg" alt="" /></a>
										<header>
											<h3>3. Social Media Disinformation Classification</b>
											using Google's BERT model</h3>
										</header>
									</article>
									<article class="item">
										<a href="https://github.com/rahulsonti/Portfolio-Website-using-Flask-and-Python" class="image fit"><img src="static/images/pic05.jpg" alt="" /></a>
										<header>
											<h3>4. Portfolio Website</b>
											using Flask-microframework,</b> Python, HTML/CSS, and SQL</h3>
										</header>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="https://github.com/rahulsonti/Sentiment-Analysis-Comparison-of-two-keywords" class="image fit"><img src="static/images/pic06.jpg" alt="" /></a>
										<header>
											<h3>5. Sentiment Analysis</b>
											 comparison between two</b>
										     keywords using Tweepy and TextBlob (Needs Twitter Developer API)</h3>
										</header>
									</article>
									<article class="item">
										<a href="https://github.com/rahulsonti/Stock-Price-Prediction-using-RNN-LSTM-" class="image fit"><img src="static/images/pic07.jpg" alt="" /></a>
										<header>
											<h3>6. Stock Price Prediction</b>
											using RNN (Long Short-Term</b>Memory Neural Networks)</h3>
										</header>
									</article>
								</div>
							</div>

						</div>
					</section>

				<!-- About Me -->
					<section id="about" class="three">
						<div class="container">

							<header>
								<h2>About Me</h2>
							</header>

							<a href="#" class="image featured"><img src="static/images/pic08.jpg" alt="" /></a>

							<p>My name is Rahul Sonti, a creative thinker and Data Analyst/Scientist passionate about storytelling. I'm currently based in California, actively looking for job opportunities and also willing to relocate. I'm all about turning observations into meaningful stories, and the process in between.</b>
							   As a Machine Learning Engineer, I carried out the entire ETL workflow and developed Deep-Learning prediction models as part of predicting the Closing prices of cryptocurrencies. I'm an efficiency enthusiast, which led me to raise the Organization's Cryptocurrency Closing-price prediction accuracy by 10%. I claim to be assertive, and a beaver at the same time, which makes me a team leader, and also a team-player. I plan to take this forward wherever I go.</p> 

						</div>
					</section>

				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h3>Contact</h3>
							</header>

							<p>You can find my projects on Github and connect with me on LinkedIn. Should you have any additional questions, feel free to drop me your message by typing below. And by the way, I play Soccer and sing in 4 languages too. So, if it is for non-Business inquiries, let's debate about why Lionel Messi is better than Ronaldo! (*snicker*). Reach out to me by entering your Name, E-mail address, and your message. Thanks!</p>

							<form method="post" action="/submit_form">
								<div class="row">
									<div class="col-6 col-12-mobile"><input type="text" name="name" id="name" required="required" placeholder="Name" /></div>
									<div class="col-6 col-12-mobile"><input type="email" name="email" id="email" required="required" placeholder="Email" /></div>
									<div class="col-12">
										<textarea name="message" rows="7" required="required" placeholder="Enter your message"></textarea>
									</div>
									<div class="col-12">
										<input type="submit" value="Send Message" />
									</div>
								</div>
							</form>

						</div>
					</section>

			</div>


		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>