<!DOCTYPE HTML>

<html>
	<head>
		<title>Rahul Sonti Website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body class="is-preload">

				<!-- Contact -->
                <section id="contact" class="four">
                    <div class="container">

                        <header>
                            <h2>Contact Me</h2>
                        </header>

                    
                    <h2>{{message}}</h2>
                    <h1>Meanwhile...you can check out my Projects, and my Music content by clicking on the links below 😄</h1>
                    <!-- Social Icons -->
						<ul class="icons">
							<li><a href="https://github.com/rahulsonti/" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="https://linkedin.com/in/rahulsonti/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="https://www.instagram.com/rahul_datguitarguy/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://www.facebook.com/rahulsonti" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href = "mailto: rahul.sonti1997@outlook.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
                    </div>
                </section>
<!-- Scripts -->
<script src="static/assets/js/jquery.min.js"></script>
<script src="static/assets/js/jquery.scrolly.min.js"></script>
<script src="static/assets/js/jquery.scrollex.min.js"></script>
<script src="static/assets/js/browser.min.js"></script>
<script src="static/assets/js/breakpoints.min.js"></script>
<script src="static/assets/js/util.js"></script>
<script src="static/assets/js/main.js"></script>

</body>
</html>